 .u-section-1 {
  background-image: url("images/22dece6eb8d09676d412ebf9df93098f125d89cdbb106f83cfe97c6cf6f7295456b3aae5da6982fb75d12001b7fb1542719d9fa057c82d89e694a8_1280.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 604px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 381px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 286px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 180px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 745px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  width: 565px;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-2 .u-accordion-1 {
  width: 970px;
  margin: 55px auto 60px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 403px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-list-1 {
  width: 930px;
  margin: 0 auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 434px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-1 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 34.3% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-2 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 403px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-list-2 {
  width: 453px;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-repeater-2 {
  min-height: 403px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  --gap: 10px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-2 .u-image-3 {
  height: 375px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 403px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-list-3 {
  width: 930px;
  margin: 0 auto;
}

.u-section-2 .u-repeater-3 {
  min-height: 434px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-4 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 27.92%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-5 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 68.69%;
}

.u-section-2 .u-gallery-nav-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 403px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-list-4 {
  width: 465px;
  margin: 0 auto;
}

.u-section-2 .u-repeater-4 {
  min-height: 434px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  --gap: 0px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-6 {
  height: 315px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-nav-7 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-8 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 403px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-list-5 {
  width: 930px;
  margin: 0 auto;
}

.u-section-2 .u-repeater-5 {
  min-height: 434px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-7 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 43.05% 50%;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-8 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-9 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-nav-9 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-10 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 403px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-15 {
  padding: 7px 20px;
}

.u-section-2 .u-list-6 {
  width: 930px;
  margin: 0;
}

.u-section-2 .u-repeater-6 {
  min-height: 434px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-10 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 35.97% 50%;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-11 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-12 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-13 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 21.23% 50%;
}

.u-section-2 .u-gallery-nav-11 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-12 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-accordion-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-6 {
    width: 900px;
  }

  .u-section-2 .u-image-10 {
    height: 360px;
    margin-top: 42px;
  }

  .u-section-2 .u-image-11 {
    height: 360px;
  }

  .u-section-2 .u-image-12 {
    height: 360px;
  }

  .u-section-2 .u-image-13 {
    height: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 408px;
  }

  .u-section-2 .u-image-2 {
    height: 408px;
  }

  .u-section-2 .u-list-3 {
    width: 720px;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-4 {
    height: 626px;
  }

  .u-section-2 .u-image-5 {
    height: 626px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 0;
  }

  .u-section-2 .u-list-5 {
    width: 720px;
  }

  .u-section-2 .u-repeater-5 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-7 {
    height: 609px;
  }

  .u-section-2 .u-image-8 {
    height: 609px;
  }

  .u-section-2 .u-image-9 {
    height: 609px;
  }

  .u-section-2 .u-list-6 {
    width: 680px;
  }

  .u-section-2 .u-repeater-6 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-10 {
    height: 572px;
    margin-top: 0;
  }

  .u-section-2 .u-image-11 {
    height: 572px;
  }

  .u-section-2 .u-image-12 {
    height: 572px;
  }

  .u-section-2 .u-image-13 {
    height: 572px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 321px;
    margin-top: 27px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 321px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 413px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-list-3 {
    width: 540px;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 493px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 493px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 346px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-list-5 {
    width: 540px;
  }

  .u-section-2 .u-repeater-5 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    height: 480px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    height: 480px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-9 {
    height: 480px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-list-6 {
    width: 520px;
  }

  .u-section-2 .u-repeater-6 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-10 {
    height: 461px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-11 {
    height: 461px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-12 {
    height: 461px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-13 {
    height: 461px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-accordion-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-accordion-pane-1 {
    min-height: 306px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 332px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 330px;
    object-position: 26.06% 50%;
    width: 270px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 330px;
    width: 270px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-accordion-pane-2 {
    min-height: 306px;
  }

  .u-section-2 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 332px;
  }

  .u-section-2 .u-image-3 {
    height: 343px;
    margin-bottom: -11px;
  }

  .u-section-2 .u-accordion-pane-3 {
    min-height: 306px;
  }

  .u-section-2 .u-list-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-3 {
    min-height: 329px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 312px;
    margin-top: 1px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 312px;
    margin-top: 1px;
  }

  .u-section-2 .u-accordion-pane-4 {
    min-height: 306px;
  }

  .u-section-2 .u-list-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-4 {
    min-height: 299px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 257px;
    width: 320px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-2 .u-accordion-pane-5 {
    min-height: 306px;
  }

  .u-section-2 .u-list-5 {
    margin-top: -15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-5 {
    min-height: 317px;
  }

  .u-section-2 .u-image-7 {
    height: 295px;
    margin-top: 20px;
    object-position: 33.23% 50%;
  }

  .u-section-2 .u-image-8 {
    height: 295px;
    margin-top: 20px;
  }

  .u-section-2 .u-image-9 {
    height: 295px;
    margin-top: 20px;
  }

  .u-section-2 .u-accordion-pane-6 {
    min-height: 306px;
  }

  .u-section-2 .u-container-layout-15 {
    padding: 0;
  }

  .u-section-2 .u-list-6 {
    width: 290px;
    margin-top: -24px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-image-10 {
    height: 334px;
    margin-top: 20px;
    object-position: 21.09% 50%;
  }

  .u-section-2 .u-image-11 {
    height: 334px;
    margin-top: 20px;
  }

  .u-section-2 .u-image-12 {
    height: 334px;
    margin-top: 20px;
  }

  .u-section-2 .u-image-13 {
    height: 334px;
    margin-top: 20px;
    object-position: 66.4% 50%;
  }
} .u-section-3 {
  background-image: url("images/82e2b7bd98778461789d0c3247f1584d435e24f4d897eb29932aa297aa6b064f0ab0dcc15e083072690e0bdb851c85e0d7cdff94ff0b857e8859a9_1280.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 604px;
}

.u-section-3 .u-text-1 {
  margin: 262px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 312px auto -128px -49px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 381px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 286px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 82px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 170px;
    margin-bottom: -127px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1209px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  width: 565px;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  --radius: 3px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 10px auto 0 85px;
  padding: 7px 26px 8px 25px;
}

.u-section-4 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-4 .u-btn-2 {
  --radius: 3px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -36px auto 0 262px;
  padding: 7px 26px 8px 25px;
}

.u-section-4 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-4 .u-btn-3 {
  --radius: 3px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -36px auto 0 454px;
  padding: 7px 26px 8px 25px;
}

.u-section-4 .u-icon-3 {
  font-size: 0.7em;
}

.u-section-4 .u-btn-4 {
  --radius: 3px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -36px 338px 0 auto;
  padding: 7px 26px 8px 25px;
}

.u-section-4 .u-icon-4 {
  font-size: 0.7em;
}

.u-section-4 .u-btn-5 {
  --radius: 3px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -36px 73px 0 auto;
  padding: 7px 26px 8px 25px;
}

.u-section-4 .u-icon-5 {
  font-size: 0.7em;
}

.u-section-4 .u-accordion-1 {
  width: 970px;
  margin: 10px auto 60px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 447px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-list-1 {
  width: 930px;
  margin: 0 auto;
}

.u-section-4 .u-repeater-1 {
  min-height: 434px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-1 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 43.7% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-2 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-3 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-4 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 100%;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 447px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-list-2 {
  width: 916px;
  margin: 0 auto 0 20px;
}

.u-section-4 .u-repeater-2 {
  min-height: 403px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-4 .u-image-5 {
  height: 375px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-list-item-6 {
  background-position: 50% 29.97%;
  background-size: cover;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-4 .u-image-6 {
  height: 375px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 100% 50%;
}

.u-section-4 .u-list-item-7 {
  background-position: 50% 29.97%;
  background-size: cover;
}

.u-section-4 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-4 .u-image-7 {
  height: 375px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 447px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-10 {
  padding: 0;
}

.u-section-4 .u-list-3 {
  width: 930px;
  margin: 0 auto;
}

.u-section-4 .u-repeater-3 {
  min-height: 434px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-8 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 43.48% 27.92%;
}

.u-section-4 .u-container-layout-12 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-9 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 68.69%;
}

.u-section-4 .u-container-layout-13 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-10 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 41.38% 68.69%;
}

.u-section-4 .u-gallery-nav-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 447px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-14 {
  padding: 0;
}

.u-section-4 .u-list-4 {
  width: 930px;
  margin: 0 auto;
}

.u-section-4 .u-repeater-4 {
  min-height: 434px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-4 .u-container-layout-15 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-11 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 26.79%;
}

.u-section-4 .u-container-layout-16 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-12 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-17 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-13 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 35.32% 50%;
}

.u-section-4 .u-gallery-nav-7 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-8 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-5 {
  min-height: 447px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-18 {
  padding: 0;
}

.u-section-4 .u-list-5 {
  width: 930px;
  margin: 0 auto;
}

.u-section-4 .u-repeater-5 {
  min-height: 434px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-4 .u-container-layout-19 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-14 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-20 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-15 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-21 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-16 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 43.93% 50%;
}

.u-section-4 .u-container-layout-22 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-17 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 43.93% 17.99%;
}

.u-section-4 .u-gallery-nav-9 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-10 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-4 .u-icon-11 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-6 {
  min-height: 448px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-23 {
  padding: 7px 20px;
}

.u-section-4 .u-list-6 {
  width: 930px;
  margin: 0;
}

.u-section-4 .u-repeater-6 {
  min-height: 434px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-4 .u-container-layout-24 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-18 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-25 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-19 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-nav-11 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-12 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
    margin-left: 62px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 254px;
  }

  .u-section-4 .u-btn-4 {
    margin-right: 138px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-4 .u-accordion-1 {
    width: 940px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -302px;
  }

  .u-section-4 .u-list-6 {
    width: 900px;
  }

  .u-section-4 .u-image-18 {
    height: 370px;
    margin-top: 42px;
  }

  .u-section-4 .u-image-19 {
    height: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 20px;
    margin-left: 34px;
  }

  .u-section-4 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-4 .u-accordion-1 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 408px;
  }

  .u-section-4 .u-image-2 {
    height: 408px;
  }

  .u-section-4 .u-image-3 {
    height: 408px;
  }

  .u-section-4 .u-image-4 {
    height: 408px;
  }

  .u-section-4 .u-list-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-5 {
    height: 622px;
  }

  .u-section-4 .u-image-6 {
    height: 622px;
  }

  .u-section-4 .u-image-7 {
    height: 622px;
  }

  .u-section-4 .u-list-3 {
    width: 720px;
  }

  .u-section-4 .u-repeater-3 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-8 {
    height: 626px;
  }

  .u-section-4 .u-image-9 {
    height: 626px;
  }

  .u-section-4 .u-image-10 {
    height: 626px;
  }

  .u-section-4 .u-list-4 {
    width: 720px;
  }

  .u-section-4 .u-repeater-4 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-11 {
    height: 626px;
  }

  .u-section-4 .u-image-12 {
    height: 626px;
  }

  .u-section-4 .u-image-13 {
    height: 626px;
  }

  .u-section-4 .u-list-5 {
    width: 720px;
  }

  .u-section-4 .u-repeater-5 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-14 {
    height: 626px;
  }

  .u-section-4 .u-image-15 {
    height: 626px;
  }

  .u-section-4 .u-image-16 {
    height: 626px;
  }

  .u-section-4 .u-image-17 {
    height: 626px;
  }

  .u-section-4 .u-list-6 {
    width: 680px;
  }

  .u-section-4 .u-repeater-6 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-18 {
    height: 588px;
    margin-top: 0;
  }

  .u-section-4 .u-image-19 {
    height: 588px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-4 .u-accordion-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 321px;
    margin-top: 27px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 321px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 321px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 321px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-list-2 {
    width: 540px;
  }

  .u-section-4 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 490px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-6 {
    height: 490px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-7 {
    height: 490px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-list-3 {
    width: 540px;
  }

  .u-section-4 .u-repeater-3 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-8 {
    height: 493px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-9 {
    height: 493px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-10 {
    height: 493px;
  }

  .u-section-4 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-list-4 {
    width: 540px;
  }

  .u-section-4 .u-repeater-4 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-11 {
    height: 493px;
  }

  .u-section-4 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-12 {
    height: 493px;
  }

  .u-section-4 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-13 {
    height: 493px;
  }

  .u-section-4 .u-container-layout-18 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-list-5 {
    width: 540px;
  }

  .u-section-4 .u-repeater-5 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-14 {
    height: 493px;
  }

  .u-section-4 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-15 {
    height: 493px;
  }

  .u-section-4 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-16 {
    height: 493px;
  }

  .u-section-4 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-17 {
    height: 493px;
  }

  .u-section-4 .u-container-layout-23 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-list-6 {
    width: 520px;
  }

  .u-section-4 .u-repeater-6 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-18 {
    height: 474px;
  }

  .u-section-4 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-19 {
    height: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 18px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -1189px;
    margin-left: 13px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 61px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: -687px;
  }

  .u-section-4 .u-accordion-1 {
    margin-top: 13px;
    margin-bottom: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-accordion-pane-1 {
    min-height: 353px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 280px;
    margin-top: 20px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 262px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-4 .u-image-1 {
    height: 241px;
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-4 .u-image-2 {
    height: 241px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-4 .u-image-3 {
    height: 241px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-4 .u-image-4 {
    height: 241px;
  }

  .u-section-4 .u-accordion-pane-2 {
    min-height: 353px;
  }

  .u-section-4 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 311px;
  }

  .u-section-4 .u-image-5 {
    height: 302px;
  }

  .u-section-4 .u-image-6 {
    height: 302px;
  }

  .u-section-4 .u-image-7 {
    height: 302px;
  }

  .u-section-4 .u-accordion-pane-3 {
    min-height: 353px;
  }

  .u-section-4 .u-list-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-3 {
    min-height: 357px;
  }

  .u-section-4 .u-image-8 {
    height: 303px;
  }

  .u-section-4 .u-image-9 {
    height: 303px;
  }

  .u-section-4 .u-image-10 {
    height: 303px;
    object-position: 27.46% 68.69%;
  }

  .u-section-4 .u-accordion-pane-4 {
    min-height: 353px;
  }

  .u-section-4 .u-list-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-4 {
    min-height: 307px;
  }

  .u-section-4 .u-image-11 {
    height: 303px;
  }

  .u-section-4 .u-image-12 {
    height: 303px;
  }

  .u-section-4 .u-image-13 {
    height: 303px;
    object-position: 22.14% 50%;
  }

  .u-section-4 .u-accordion-pane-5 {
    min-height: 353px;
  }

  .u-section-4 .u-list-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-5 {
    min-height: 374px;
  }

  .u-section-4 .u-container-layout-19 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-14 {
    height: 303px;
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-20 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-15 {
    height: 303px;
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-21 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-16 {
    height: 303px;
    margin-top: 20px;
    object-position: 29.4% 50%;
  }

  .u-section-4 .u-container-layout-22 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-17 {
    height: 303px;
    margin-top: 20px;
  }

  .u-section-4 .u-accordion-pane-6 {
    min-height: 353px;
  }

  .u-section-4 .u-list-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-6 {
    min-height: 346px;
  }

  .u-section-4 .u-image-18 {
    height: 296px;
  }

  .u-section-4 .u-image-19 {
    height: 296px;
  }
} .u-section-5 {
  background-image: url("images/5af4e61830dc4377c360172bc05d4533bc2340dda92fd0ec17b431d82b1d7756b6482d670f4fbe3d64b9d818fc6e67d02faaff884d9aa078fe4bed_1280.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 604px;
}

.u-section-5 .u-text-1 {
  margin: 262px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 312px auto -128px -49px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 381px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 286px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 83px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 172px;
    margin-bottom: -127px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 745px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  width: 565px;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-6 .u-accordion-1 {
  width: 970px;
  margin: 55px auto 60px;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 435px;
  background-image: none;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-list-1 {
  width: 930px;
  margin: 0 auto;
}

.u-section-6 .u-repeater-1 {
  min-height: 434px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-1 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-2 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-3 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 435px;
  background-image: none;
  height: auto;
}

.u-section-6 .u-container-layout-5 {
  padding: 0;
}

.u-section-6 .u-list-2 {
  width: 915px;
  margin: 0 auto 0 20px;
}

.u-section-6 .u-repeater-2 {
  min-height: 403px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-6 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-6 .u-image-4 {
  height: 375px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-list-item-5 {
  background-position: 50% 29.97%;
  background-size: cover;
}

.u-section-6 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-6 .u-image-5 {
  height: 375px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-list-item-6 {
  background-position: 50% 29.97%;
  background-size: cover;
}

.u-section-6 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-6 .u-image-6 {
  height: 375px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 435px;
  background-image: none;
  height: auto;
}

.u-section-6 .u-container-layout-9 {
  padding: 0;
}

.u-section-6 .u-list-3 {
  width: 930px;
  margin: 0 auto;
}

.u-section-6 .u-repeater-3 {
  min-height: 435px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-6 .u-container-layout-10 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-7 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-6 .u-container-layout-11 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-8 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 68.69%;
}

.u-section-6 .u-gallery-nav-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-4 {
  min-height: 435px;
  background-image: none;
  height: auto;
}

.u-section-6 .u-container-layout-12 {
  padding: 0;
}

.u-section-6 .u-list-4 {
  width: 930px;
  margin: 0 auto;
}

.u-section-6 .u-repeater-4 {
  min-height: 434px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-6 .u-container-layout-13 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-9 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-14 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-10 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-15 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-11 {
  height: 384px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-gallery-nav-7 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-8 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-5 {
  min-height: 435px;
  background-image: none;
  height: auto;
}

.u-section-6 .u-container-layout-16 {
  padding: 0;
}

.u-section-6 .u-list-5 {
  width: 930px;
  margin: 0 auto;
}

.u-section-6 .u-repeater-5 {
  min-height: 434px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-6 .u-container-layout-17 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-12 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-18 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-13 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-19 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-14 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-gallery-nav-9 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-10 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-6 {
  min-height: 435px;
  background-image: none;
  height: auto;
}

.u-section-6 .u-container-layout-20 {
  padding: 7px 20px;
}

.u-section-6 .u-list-6 {
  width: 930px;
  margin: 0;
}

.u-section-6 .u-repeater-6 {
  min-height: 434px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-6 .u-container-layout-21 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-15 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-22 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-16 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-23 {
  padding: 30px 30px 0;
}

.u-section-6 .u-image-17 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-gallery-nav-11 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-12 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-accordion-1 {
    width: 940px;
  }

  .u-section-6 .u-image-5 {
    margin-top: -302px;
  }

  .u-section-6 .u-list-6 {
    width: 900px;
  }

  .u-section-6 .u-image-15 {
    height: 360px;
    margin-top: 42px;
  }

  .u-section-6 .u-image-16 {
    height: 360px;
  }

  .u-section-6 .u-image-17 {
    height: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-accordion-1 {
    width: 720px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    height: 408px;
  }

  .u-section-6 .u-image-2 {
    height: 408px;
  }

  .u-section-6 .u-image-3 {
    height: 408px;
  }

  .u-section-6 .u-list-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-6 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-4 {
    height: 623px;
  }

  .u-section-6 .u-image-5 {
    height: 623px;
  }

  .u-section-6 .u-image-6 {
    height: 623px;
  }

  .u-section-6 .u-list-3 {
    width: 720px;
  }

  .u-section-6 .u-repeater-3 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-7 {
    height: 609px;
  }

  .u-section-6 .u-image-8 {
    height: 609px;
  }

  .u-section-6 .u-list-4 {
    width: 720px;
  }

  .u-section-6 .u-repeater-4 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-9 {
    height: 626px;
  }

  .u-section-6 .u-image-10 {
    height: 626px;
  }

  .u-section-6 .u-image-11 {
    height: 626px;
  }

  .u-section-6 .u-list-5 {
    width: 720px;
  }

  .u-section-6 .u-repeater-5 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-12 {
    height: 609px;
  }

  .u-section-6 .u-image-13 {
    height: 609px;
  }

  .u-section-6 .u-image-14 {
    height: 609px;
  }

  .u-section-6 .u-list-6 {
    width: 680px;
  }

  .u-section-6 .u-repeater-6 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-15 {
    height: 572px;
    margin-top: 0;
  }

  .u-section-6 .u-image-16 {
    height: 572px;
  }

  .u-section-6 .u-image-17 {
    height: 572px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-accordion-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 321px;
    margin-top: 27px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 321px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 321px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-list-2 {
    width: 540px;
  }

  .u-section-6 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    height: 491px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    height: 491px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-6 {
    height: 491px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-list-3 {
    width: 540px;
  }

  .u-section-6 .u-repeater-3 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-7 {
    height: 480px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-8 {
    height: 480px;
  }

  .u-section-6 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-list-4 {
    width: 540px;
  }

  .u-section-6 .u-repeater-4 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-9 {
    height: 493px;
  }

  .u-section-6 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-10 {
    height: 493px;
  }

  .u-section-6 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-11 {
    height: 493px;
  }

  .u-section-6 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-list-5 {
    width: 540px;
  }

  .u-section-6 .u-repeater-5 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-12 {
    height: 480px;
  }

  .u-section-6 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-13 {
    height: 480px;
  }

  .u-section-6 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-14 {
    height: 480px;
  }

  .u-section-6 .u-container-layout-20 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-list-6 {
    width: 520px;
  }

  .u-section-6 .u-repeater-6 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-15 {
    height: 461px;
  }

  .u-section-6 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-16 {
    height: 461px;
  }

  .u-section-6 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-17 {
    height: 461px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-accordion-1 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-accordion-pane-1 {
    min-height: 391px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 391px;
  }

  .u-section-6 .u-image-1 {
    height: 342px;
    margin-top: 0;
  }

  .u-section-6 .u-image-2 {
    height: 342px;
  }

  .u-section-6 .u-image-3 {
    height: 342px;
  }

  .u-section-6 .u-accordion-pane-2 {
    min-height: 315px;
  }

  .u-section-6 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-2 {
    min-height: 315px;
  }

  .u-section-6 .u-image-4 {
    height: 289px;
  }

  .u-section-6 .u-image-5 {
    height: 289px;
    margin-top: 0;
  }

  .u-section-6 .u-image-6 {
    height: 289px;
    object-position: 50% 44.83%;
  }

  .u-section-6 .u-accordion-pane-3 {
    min-height: 315px;
  }

  .u-section-6 .u-list-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-3 {
    min-height: 293px;
  }

  .u-section-6 .u-image-7 {
    height: 295px;
  }

  .u-section-6 .u-image-8 {
    height: 295px;
  }

  .u-section-6 .u-accordion-pane-4 {
    min-height: 315px;
  }

  .u-section-6 .u-list-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-4 {
    min-height: 305px;
  }

  .u-section-6 .u-image-9 {
    height: 303px;
  }

  .u-section-6 .u-image-10 {
    height: 303px;
  }

  .u-section-6 .u-image-11 {
    height: 303px;
  }

  .u-section-6 .u-accordion-pane-5 {
    min-height: 325px;
  }

  .u-section-6 .u-list-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-5 {
    min-height: 325px;
  }

  .u-section-6 .u-image-12 {
    height: 295px;
  }

  .u-section-6 .u-image-13 {
    height: 295px;
  }

  .u-section-6 .u-image-14 {
    height: 295px;
  }

  .u-section-6 .u-accordion-pane-6 {
    min-height: 315px;
  }

  .u-section-6 .u-list-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-6 {
    min-height: 302px;
  }

  .u-section-6 .u-image-15 {
    height: 258px;
  }

  .u-section-6 .u-image-16 {
    height: 258px;
  }

  .u-section-6 .u-image-17 {
    height: 258px;
  }
}